App_Data/files-fpml/schemas/fpml5-8/confirmation/fpml-fx-complex-5-8.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
        == Copyright (c) 2002-2015 All rights reserved. 
        == Financial Products Markup Language is subject to the FpML public license. 
        == A copy of this license is available at http://www.fpml.org/license/license.html
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns="http://www.fpml.org/FpML-5/confirmation" xmlns:fpml-annotation="http://www.fpml.org/annotation" targetNamespace="http://www.fpml.org/FpML-5/confirmation" ecore:documentRoot="FpML" ecore:nsPrefix="conf" ecore:package="org.fpml.confirmation" version="$Revision: 11478 $" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:include schemaLocation="fpml-fx-5-8.xsd" />
<!--
    ================
        complexTypes    
    ================
    -->
<!--2015-02-26: Proposal as per discussed on the FpML FX WG-->
  <xsd:complexType name="FxBarrierBase">
    <xsd:complexContent>
      <xsd:extension base="FxBarrier">
        <xsd:sequence>
          <xsd:element name="style" type="FxBarrierStyleEnum">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Whether it is an European or American knock out.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:sequence>
            <xsd:element name="condition" type="ConditionEnum">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">Defines the condition when the barrier applies: AtOrAbove, AtOrBelow, Above, Below.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="triggerRate" type="Schedule">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">The market rate is observed relative to the trigger rate, and if it is found to be on the predefined side of (above or below) the trigger rate, a barrier event is deemed to have occurred.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:sequence minOccurs="0">
              <xsd:element name="observationStartDate" type="xsd:date">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">The date on which the observation period for an american barrier starts. If the start date is not present, then the date and time of the start of the period is deemed to be the date and time the transaction was entered into.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="observationStartTime" type="BusinessCenterTime" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">The time on the start date at which the observation period for an american barrier starts. If the time is not present and the start date is equivalent to the transaction date, the time is deemed to be the time the transaction was entered into. If the time is not present and the start date is other than the transaction date, then the time is deemed to be the same as the expiration time.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
            <xsd:sequence minOccurs="0">
              <xsd:element name="observationEndDate" type="xsd:date">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">The date on which the observation period for an american barrier ends. If the end date is not present, then the date and time of the end of the period is deemed to be the date and time of expiration.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="observationEndTime" type="BusinessCenterTime" minOccurs="0">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">The time on the end date at which the observation period for an american barrier ends. If the time is not present, then the time is deemed to be the same as the expiration time.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxTargetAccumulationRegion">
    <xsd:sequence>
<!--2015-02-26: Agreed to rename the type to "FxTargetRegionBound.model" from "FxRegionBound.model"-->
      <xsd:group ref="FxTargetRegionBound.model">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Defines the lower/upper bound in which the target accumulation applies.</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
      <xsd:element name="multiplier" type="xsd:decimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This is the factor that increases gain, not notional. Used to support Accelerated TARFs.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExchangedCurrency">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Indicates the direction who pays and receives a specific currency without specifying the amount.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="PayerReceiver.model" />
      <xsd:element name="currency" type="Currency" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FxSchedule">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The FxSchedule may be expressed as explicit adjusted dates, or a parametric representation plus optional adjusted dates, or as an offset plus optional adusted dates.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="dateAdjustments" type="BusinessDayAdjustments" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Date adjustments applied to the adjusted dates including the business day convention and the business centers.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="adjustedDate" type="xsd:date" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">List of schedule dates. These dates have been subject to adjustments based on the dateAdjustments structure.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:choice>
            <xsd:group ref="ParametricSchedule.model">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">Parametric representation of the schedule.</xsd:documentation>
              </xsd:annotation>
            </xsd:group>
            <xsd:element name="dateOffset" type="FxDateOffset">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">The representation of the schedule as an offset relative to another schedule. For example, the settlement schedule may be relative to the expiry schedule by an FxForward offset.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
          <xsd:element name="adjustedDate" type="xsd:date" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">List of schedule dates. These dates have been subject to adjustments based on the dateAdjustments structure.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID" />
  </xsd:complexType>
  <xsd:complexType name="FxExpirySchedule">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Defines the expiry/observation schedule of the target.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="FxSchedule">
        <xsd:sequence>
          <xsd:element name="finalExpiryDate" type="xsd:date" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The final expiry date facilitates informing the final date without having to process all expiry dates in the schedule.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="expiryTime" type="BusinessCenterTime" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Time of expiration of each expiry date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxDateOffset">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The representation of the schedule as an offset relative to another schedule. For example, the settlement schedule may be relative to the expiry schedule by an FxForward offset.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="convention" type="FxOffsetConventionEnum">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The FX Offset Convention can be FxSpot or FxForward.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="offset" type="Period" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The settlement offset to the expiry schedule or the expiry offset to the settlement schedule. It is only specified when the settlement convention is FxForward.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="relativeTo" type="FxScheduleReference">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Indicates whether the settlement schedule is relative to the expiry schedule or the expiry schedule is relative to the settlement schedule.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FxTargetKnockoutForwardStrip">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A structured forward product which consists of a strip of forwards. Each forward may be settled as an exchange of currencies or cash settled. At each settlement, the amount of gain that one party achieves is measured. The product has a target level of gain. Once the accumulated gain exceeds the target level, the product terminates and there are no further settlements.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Product">
<!--2015-02-17: removed extra "sequence"-->
        <xsd:sequence>
          <xsd:element name="quotedCurrencyPair" type="QuotedCurrencyPair">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The Quoted Currency Pair that is used accross the product.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="notionalAmount" type="NonNegativeAmountSchedule">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Notional amount of the Target.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
<!--2015-03-12: FpML FX WG: moved counterCurrencyAmount to VanillaPayoffRegion-->
<!--2015-03-12:FpML FX WG: Moved Target to the top -->
          <xsd:element name="target" type="FxTarget">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">It defines the target level of gain. Once the accumulated gain exceeds the target level, the product terminates and there are no further settlements.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="expirySchedule" type="FxExpirySchedule">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Defines the expiry/observation schedule of the target product.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="settlementSchedule" type="FxSettlementSchedule">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Defines the settlement/payment schedule of the target product.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="fixingInformationSource" type="FxInformationSource">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Information source for fixing the exchange rate. It is the same for all fixing periods.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
<!--2015-02-05: renamed from "initialSpotRate" to spotRate to align all FX products-->
          <xsd:element name="spotRate" type="NonNegativeDecimal" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Spot rate</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:choice>
            <xsd:sequence>
              <xsd:element name="pivot" type="FxPivot">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">The boundary where the contract flips from being long and short is the pivot point. So the pivot indicates the level in which there is a change in direction of the currencies exchanged by the parties.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
<!--2015-02-26: Agreed to rename the type to "FxTargetVanillaPayoffRegion" from "FxVanillaPayoffRegion"-->
              <xsd:element name="vanillaPayoffRegion" type="FxTargetVanillaPayoffRegion" minOccurs="2" maxOccurs="unbounded">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">A region in which a vanilla payoff occurs. In case of a Pivot Target, at least two vanilla payoff regions are provided, each one with a specific direction of the currencies exchanged by the parties.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
            <xsd:sequence>
<!--2015-02-26: Agreed to rename the type to "FxTargetVanillaPayoffRegion" from "FxVanillaPayoffRegion"-->
              <xsd:element name="vanillaPayoffRegion" type="FxTargetVanillaPayoffRegion" maxOccurs="unbounded">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">A region in which a vanilla payoff occurs.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:sequence>
          </xsd:choice>
<!--2015-02-26: Agreed to rename the type to "FxTargetDigitalPayoffRegion" from "FxDigitalPayoffRegion"-->
          <xsd:element name="digitalPayoffRegion" type="FxTargetDigitalPayoffRegion" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">It defines a region in which a digital payment occurs.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
<!--2015-02-26: Agreed to rename the type to "FxTargetZeroPayoffRegion" from "FxZeroPayoffRegion"-->
          <xsd:element name="zeroPayoffRegion" type="FxTargetZeroPayoffRegion" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">It defines zero settlement region. There is no exchange of currencies. A zero payoff must not be represented using the digital payoff structure with zero amount.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
<!--2015-03-12: FpML FX WG: moved target to the top-->
<!--2015-02-26: Agreed to rename the type to "FxTargetKnockoutBarrier" from "FxGlobalKnockout"-->
<!--2015-02-05:FpML FX WG: agreed to rename "globalKnockout" to "knockoutBarrier" -->
          <xsd:element name="knockoutBarrier" type="FxTargetKnockoutBarrier" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">A TARF with a full knock out feature i.e. it applies to the trade as a whole; If spot settles Above/below the Barrier, the product terminates. The Global Knockout barrier may be American (i.e. continuous) or European (i.e. applying only at the settlement fixing dates). There is a variation where a rebate is payable on the KO.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="perExpiryBarrier" type="FxPerExpiryBarrier" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">TARF with a European KI Barrier. Each settlement has a european KI barrier on the client side or the firm side.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="settlementPeriodSchedule" type="SettlementPeriodSchedule" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">It supports the representation of a matrix/tabular approach of the product by defining a set of settlement periods.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="additionalPayment" type="SimplePayment" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">It supports the representation of premiums, fees, etc.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
<!--2017-02-17:Moved cashSettlement from vanillaPayoffRegion to the product level, applies to the whole product. Location is to be in sync with FX Option, Accrual-->
          <xsd:element name="cashSettlement" type="FxCashSettlementSimple" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Cash settlement currency.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!--2015-03-12: FpML FX WG: removed this type since the counterCurrencyAmount was moved closer to strike and strikeReference is no longer needed.-->
  <xsd:complexType name="FxCounterCurrencyAmount">
    <xsd:complexContent>
      <xsd:extension base="NonNegativeAmountSchedule">
        <xsd:sequence>
          <xsd:element name="strikeReference" type="FxStrikeReference" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">In case of multiple counter currency notionals, a strike reference to the appropriate strike may be provided.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxSettlementSchedule">
    <xsd:complexContent>
      <xsd:extension base="FxSchedule">
        <xsd:sequence>
          <xsd:element name="finalSettlementDate" type="xsd:date" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The final settlement date facilitates informing the final date without having to process all settlement dates in the schedule.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxBarrier" abstract="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Global Knockout and Per Expiry Barriers are derived from the abstract FxBarrier.</xsd:documentation>
    </xsd:annotation>
    <xsd:attribute name="id" type="xsd:ID" use="optional" />
  </xsd:complexType>
<!--2015-02-26: Agreed to rename the type to "FxTargetKnockoutBarrier" from "FxGlobalKnockout"-->
  <xsd:complexType name="FxTargetKnockoutBarrier">
    <xsd:complexContent>
      <xsd:extension base="FxBarrierBase">
        <xsd:sequence>
<!--                                    <xsd:element name="style" type="FxBarrierStyleEnum">
                                                <xsd:annotation>
                                                        <xsd:documentation xml:lang="en">Whether it is an European or American knock out.</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                        <!-\-<xsd:group ref="FxBarrier.model"/>-\->
                                        <xsd:sequence>
                                                <xsd:element name="condition" type="ConditionEnum">
                                                        <xsd:annotation>
                                                                <xsd:documentation xml:lang="en">Defines the condition when the barrier applies: AtOrAbove, AtOrBelow, Above, Below.</xsd:documentation>
                                                        </xsd:annotation>
                                                </xsd:element>
                                                <xsd:element name="triggerRate" type="Schedule">
                                                        <xsd:annotation>
                                                                <xsd:documentation xml:lang="en">The market rate is observed relative to the trigger rate, and if it is found to be on the predefined side of (above or below) the trigger rate, a barrier event is deemed to have occurred.</xsd:documentation>
                                                        </xsd:annotation>
                                                </xsd:element>
                                                <xsd:sequence minOccurs="0">
                                                        <xsd:element name="observationStartDate" type="xsd:date">
                                                                <xsd:annotation>
                                                                        <xsd:documentation xml:lang="en">The date on which the observation period for an american barrier starts. If the start date is not present, then the date and time of the start of the period is deemed to be the date and time the transaction was entered into.</xsd:documentation>
                                                                </xsd:annotation>
                                                        </xsd:element>
                                                        <xsd:element name="observationStartTime" type="BusinessCenterTime" minOccurs="0">
                                                                <xsd:annotation>
                                                                        <xsd:documentation xml:lang="en">The time on the start date at which the observation period for an american barrier starts. If the time is not present and the start date is equivalent to the transaction date, the time is deemed to be the time the transaction was entered into. If the time is not present and the start date is other than the transaction date, then the time is deemed to be the same as the expiration time.</xsd:documentation>
                                                                </xsd:annotation>
                                                        </xsd:element>
                                                </xsd:sequence>
                                                <xsd:sequence minOccurs="0">
                                                        <xsd:element name="observationEndDate" type="xsd:date">
                                                                <xsd:annotation>
                                                                        <xsd:documentation xml:lang="en">The date on which the observation period for an american barrier ends. If the end date is not present, then the date and time of the end of the period is deemed to be the date and time of expiration.</xsd:documentation>
                                                                </xsd:annotation>
                                                        </xsd:element>
                                                        <xsd:element name="observationEndTime" type="BusinessCenterTime" minOccurs="0">
                                                                <xsd:annotation>
                                                                        <xsd:documentation xml:lang="en">The time on the end date at which the observation period for an american barrier ends. If the time is not present, then the time is deemed to be the same as the expiration time.</xsd:documentation>
                                                                </xsd:annotation>
                                                        </xsd:element>
                                                </xsd:sequence>
                                        </xsd:sequence>
                                        
-->
          <xsd:element name="rebate" type="FxTargetRebate" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">A rebate may be applied to the target once it is knocked out.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxPerExpiryBarrier">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Each settlement has a KI or KO barrier on the client side or the firm side.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="FxBarrierBase">
        <xsd:sequence>
          <xsd:element name="barrierType" type="FxBarrierTypeEnum">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">It defines whether it is Knockin or Knockout barrier.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
<!--                                    <xsd:element name="style" type="FxBarrierStyleEnum" minOccurs="0">
                                                <xsd:annotation>
                                                        <xsd:documentation xml:lang="en">Whether it is an European or American knock out. In case of a Knockin, the style is always European so it may not need to be specified.</xsd:documentation>
                                                </xsd:annotation>
                                        </xsd:element>
                                                <xsd:sequence>
                                                        <xsd:element name="condition" type="ConditionEnum">
                                                                <xsd:annotation>
                                                                        <xsd:documentation xml:lang="en">Defines the condition when the barrier applies: AtOrAbove, AtOrBelow, Above, Below.</xsd:documentation>
                                                                </xsd:annotation>
                                                        </xsd:element>
                                                        <xsd:element name="triggerRate" type="Schedule">
                                                                <xsd:annotation>
                                                                        <xsd:documentation xml:lang="en">The market rate is observed relative to the trigger rate, and if it is found to be on the predefined side of (above or below) the trigger rate, a barrier event is deemed to have occurred.</xsd:documentation>
                                                                </xsd:annotation>
                                                        </xsd:element>
                                                        <xsd:sequence minOccurs="0">
                                                                <xsd:element name="observationStartDate" type="xsd:date">
                                                                        <xsd:annotation>
                                                                                <xsd:documentation xml:lang="en">The date on which the observation period for an american barrier starts. If the start date is not present, then the date and time of the start of the period is deemed to be the date and time the transaction was entered into.</xsd:documentation>
                                                                        </xsd:annotation>
                                                                </xsd:element>
                                                                <xsd:element name="observationStartTime" type="BusinessCenterTime" minOccurs="0">
                                                                        <xsd:annotation>
                                                                                <xsd:documentation xml:lang="en">The time on the start date at which the observation period for an american barrier starts. If the time is not present and the start date is equivalent to the transaction date, the time is deemed to be the time the transaction was entered into. If the time is not present and the start date is other than the transaction date, then the time is deemed to be the same as the expiration time.</xsd:documentation>
                                                                        </xsd:annotation>
                                                                </xsd:element>
                                                        </xsd:sequence>
                                                        <xsd:sequence minOccurs="0">
                                                                <xsd:element name="observationEndDate" type="xsd:date">
                                                                        <xsd:annotation>
                                                                                <xsd:documentation xml:lang="en">The date on which the observation period for an american barrier ends. If the end date is not present, then the date and time of the end of the period is deemed to be the date and time of expiration.</xsd:documentation>
                                                                        </xsd:annotation>
                                                                </xsd:element>
                                                                <xsd:element name="observationEndTime" type="BusinessCenterTime" minOccurs="0">
                                                                        <xsd:annotation>
                                                                                <xsd:documentation xml:lang="en">The time on the end date at which the observation period for an american barrier ends. If the time is not present, then the time is deemed to be the same as the expiration time.</xsd:documentation>
                                                                        </xsd:annotation>
                                                                </xsd:element>
                                                        </xsd:sequence>
                                                </xsd:sequence>-->
<!--<xsd:group ref="FxBarrier.model"/>-->
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!--2015-03-12: FpML FX WG: renamed to FxTargetLeverage from FxTaregtPayoffLeverage-->
<!--2015-02-26: Agreed to rename the type to "FxTargetPayoffLeverage" from "FxLeverage"-->
  <xsd:complexType name="FxTargetLeverage">
    <xsd:sequence>
      <xsd:element name="condition" type="ConditionEnum">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Condition in which leverage applies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
<!--2015-02-26: Agreed to rename the type to "FxTargetConditionLevel.model" from "FxConditionLevel.model"-->
      <xsd:group ref="FxTargetConditionLevel.model" />
      <xsd:choice>
        <xsd:element name="ratio" type="Schedule">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Leverage rate with optional steps. Format is 2 for 200%.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
<!--2015-01-22: FpML FX WG: added "counterCurrencyAmount"-->
        <xsd:sequence>
          <xsd:element name="notionalAmount" type="NonNegativeAmountSchedule">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Leveraged notional expressed as amount with optional steps.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="counterCurrencyAmount" type="FxCounterCurrencyAmount" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The opposite currency amount of the Target.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID" />
  </xsd:complexType>
<!--2015-02-26: Agreed to rename the type to "FxTargetRegionLowerBound" from "FxRegionLowerBound"-->
  <xsd:complexType name="FxTargetRegionLowerBound">
    <xsd:sequence>
      <xsd:element name="condition" type="FxRegionLowerBoundDirectionEnum">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">AtOrAbove, Above.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
<!--2015-02-26: Agreed to rename the type to "FxTargetConditionLevel.model" from "FxConditionLevel.model"-->
      <xsd:group ref="FxTargetConditionLevel.model" />
    </xsd:sequence>
  </xsd:complexType>
<!--2015-02-26: Agreed to rename the type to "FxTargetRegionUpperBound" from "FxRegionUpperBound"-->
  <xsd:complexType name="FxTargetRegionUpperBound">
    <xsd:sequence>
      <xsd:element name="condition" type="FxRegionUpperBoundDirectionEnum">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">AtOrBelow, Below.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
<!--2015-02-26: Agreed to rename the type to "FxTargetConditionLevel.model" from "FxConditionLevel.model"-->
      <xsd:group ref="FxTargetConditionLevel.model" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FxTarget">
    <xsd:sequence>
      <xsd:element name="accumulationRegion" type="FxTargetAccumulationRegion" maxOccurs="unbounded" />
      <xsd:choice>
        <xsd:element name="knockoutLevel" type="FxKnockoutLevel" />
        <xsd:element name="knockoutCount" type="FxKnockoutCount" />
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="FxTargetRebate">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A rebate can be expressed as a payment amount or as amount of outstanding gain.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="payment" type="SimplePayment">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Rebate amount expressed as a payment between the two parties.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="outstandingGain" type="FxOutstandingGain">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Rebate expressed as amount of outstanding gain.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="FxOutstandingGain">
    <xsd:sequence>
      <xsd:element name="targetReference" type="FxTargetReference">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Reference to a target structure within the product.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
<!--2015-02-26: Agreed to rename the type to "FxSettlementAdjustmentMethodEnum" from "FxTargetSettlementAdjustmentMethodEnum". The type is used both in Targets and Accruals-->
      <xsd:element name="settlementAdjustmentStyle" type="FxSettlementAdjustmentMethodEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The Settlement Adjustment Style can be VariedStrike or VariedNotional.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FxKnockoutCount">
    <xsd:sequence>
      <xsd:element name="conditionalFixings" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Number of fixings that are in the money. No accumulation process.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="settlementAtKnockout" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Whether there is settlement at knockout.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FxPayoffCap">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The amount of gain on the client upside or firm upside is limited. If spot settles above the cap, or below the floor, the payout is adjusted to limit the gain. The adjustment may be made by varying the strike, or by maintaining the strike, but varying the payout notionals.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="condition" type="ConditionEnum">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Condition in which Cap or Floor applies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rate" type="Schedule">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Cap/Floor rate.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
<!--2015-02-26: Agreed to rename the type to "FxSettlementAdjustmentMethodEnum" from "FxTargetSettlementAdjustmentMethodEnum". The type is used both in Targets and Accruals-->
      <xsd:element name="settlementAdjustmentStyle" type="FxSettlementAdjustmentMethodEnum">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The Settlement Adjustment Style can be VariedStrike or VariedNotional.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!--2015-02-26: Agreed to rename the type to "FxTargetDigitalPayoffRegion" from "FxDigitalPayoffRegion"-->
  <xsd:complexType name="FxTargetDigitalPayoffRegion">
    <xsd:sequence>
      <xsd:group ref="PayerReceiver.model" />
      <xsd:choice>
        <xsd:element name="payoff" type="NonNegativeMoney">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Digital amount.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="fixingAdjustment" type="xsd:decimal">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The fixing adjustment expresses the bonus.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
<!--2015-03-12: FpML FX WG: changed to FxTargetRegionBound.model from FlexibleFxRegionBound.model. Rationale: all use cases include the bound -->
      <xsd:group ref="FxTargetRegionBound.model" />
<!--2015-02-26: Agreed to rename the type to "FxTargetPhysicalSettlement" from "FxPhysicalSettlement"-->
      <xsd:element name="physicalSettlement" type="FxTargetPhysicalSettlement" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
<!--2015-02-26: Agreed to rename the type to "FxTargetZeroPayoffRegion" from "FxZeroPayoffRegion"-->
  <xsd:complexType name="FxTargetZeroPayoffRegion">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Region to explicitly specify a zero payoff region.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
<!--2015-02-26: Agreed to rename the type to "FxTargetRegionBound.model" from "FxRegionBound.model"-->
      <xsd:group ref="FxTargetRegionBound.model" />
<!--2015-02-26: Agreed to rename the type to "FxTargetPhysicalSettlement" from "FxPhysicalSettlement"-->
      <xsd:element name="physicalSettlement" type="FxTargetPhysicalSettlement" minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FxKnockoutLevel">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Defines the Target level of gain.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="amount" type="NonNegativeMoney">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Target level expressed as notional amount.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="intrinsicValue" type="xsd:decimal">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Target level expressed as intrinsic value.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
      <xsd:element name="targetStyle" type="FxTargetStyleEnum">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Target style when it settles, whether it is Inclusive, Exclusive, or Exact.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
<!--2015-02-26: Agreed to rename the type to "FxSettlementAdjustmentMethodEnum" from "FxTargetSettlementAdjustmentMethodEnum". The type is used both in Targets and Accruals-->
      <xsd:element name="settlementAdjustmentStyle" type="FxSettlementAdjustmentMethodEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">If Target Style is Exact, then Settlement Style should be present.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!--2015-02-26: Agreed to rename the type to "FxTargetVanillaPayoffRegion" from "FxVanillaPayoffRegion"-->
<!--FpML FX WG: corrected an error - within "FxVanillaPayoffRegion", removed "fixingAdjustment" -->
  <xsd:complexType name="FxTargetVanillaPayoffRegion">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A region in which a vanilla payoff occurs.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:group ref="FxExchangedCurrency.model" />
      <xsd:element name="strike" type="FxStrike">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Strike price of the Target.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
<!--2015-03-12: FpML FX WG: moved counterCurrencyAmount to VanillaPayoffRegion from the top of the product; Changed type to NonNegativeAmountSchedule from FxCounterCurrencyAmount since strikeReference is no longer needed-->
      <xsd:element name="counterCurrencyAmount" type="NonNegativeAmountSchedule" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The opposite currency amount of the Target.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
<!--2015-03-12: FpML FX WG: added bounds from FlexibleFxRegionBound.model directly to FxTargetVannilaPayoffRegion-->
<!--2015-02-26: Agreed to rename the type to "FxTargetRegionLowerBound" from "FxRegionLowerBound"-->
      <xsd:element name="lowerBound" type="FxTargetRegionLowerBound" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Defines the lower bound of a payoff region.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
<!--2015-02-26: Agreed to rename the type to "FxTargetRegionUpperBound" from "FxRegionUpperBound"-->
      <xsd:element name="upperBound" type="FxTargetRegionUpperBound" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Defines the upper bound of a payoff region.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
<!--2015-03-12: FpML FX WG: renamed to 'leverage' from 'payoffleverage'-->
<!--2015-02-26: Agreed to rename the type to "FxTargetPayoffLeverage" from "FxLeverage"-->
<!--2015-02-02: Renamed to align with Accruals-->
      <xsd:element name="leverage" type="FxTargetLeverage" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Notional leverage.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
<!--2017-02-17:Moved cashSettlement to the product level, applies to the whole product-->
      <xsd:element name="payoffCap" type="FxPayoffCap" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The amount of gain on the client upside or firm upside is limited. If spot settles above the cap, or below the floor, the payout is adjusted to limit the gain. The adjustment may be made by varying the strike, or by maintaining the strike, but varying the payout notionals.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID" use="optional" />
  </xsd:complexType>
  <xsd:complexType name="FxTargetVanillaPayoffRegionReference">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Reference to a FX Vanilla Payoff Region.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Reference">
        <xsd:attribute name="href" type="xsd:IDREF" use="required" ecore:reference="FxTargetVanillaPayoffRegion" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!--2015-02-26: Agreed to rename the type to "FxTargetPhysicalSettlement" from "FxPhysicalSettlement"-->
  <xsd:complexType name="FxTargetPhysicalSettlement">
    <xsd:sequence>
      <xsd:group ref="FxExchangedCurrency.model">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Indicates the direction of physical settlement exchanges.</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
<!--2015-02-26: Agreed to rename the type to "FxSettlementAdjustmentMethodEnum" from "FxTargetSettlementAdjustmentMethodEnum". The type is used both in Targets and Accruals-->
      <xsd:element name="settlementAdjustmentStyle" type="FxSettlementAdjustmentMethodEnum">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The Settlement Adjustment Style can be VariedStrike or VariedNotional.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group ref="StrikeOrStrikeReference.model" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The strike should be specified if the Settlement Style is VariedNotional.</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FxPivot">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Pivot is expressed as Schedule, with an initial value and optional steps.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Schedule" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxStrike">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Strike is expressed as Schedule, with an initial value and optional steps.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Schedule" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxLevel">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Level is expressed as Schedule, with an initial value and optional steps.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Schedule" />
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxBarrierReference">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Reference to a barrier structure.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Reference">
        <xsd:attribute name="href" type="xsd:IDREF" use="required" ecore:reference="FxBarrier" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxLevelReference">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Reference to a level structure.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Reference">
        <xsd:attribute name="href" type="xsd:IDREF" use="required" ecore:reference="FxBarrier" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxPivotReference">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Reference to a pivot structure.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Reference">
        <xsd:attribute name="href" type="xsd:IDREF" use="required" ecore:reference="FxPivot" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxScheduleReference">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Reference to a FX Schedule structure.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Reference">
        <xsd:attribute name="href" type="xsd:IDREF" use="required" ecore:reference="FxTarget" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxStrikeReference">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Reference to a strike structure.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Reference">
        <xsd:attribute name="href" type="xsd:IDREF" use="required" ecore:reference="FxStrike" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxTargetReference">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Reference to a target structure.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Reference">
        <xsd:attribute name="href" type="xsd:IDREF" use="required" ecore:reference="FxTarget" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SettlementPeriod">
    <xsd:sequence>
      <xsd:element name="expiryDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Expiry date for the settlement period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="settlementDate" type="xsd:date">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Settlement date for the settlement period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="notionalAmount" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Notional Amount for the settlement period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="payoff" type="SettlementPeriodPayoff" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Payoff Region within the settlement period to link strike with the relevant payoff components.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="pivot" type="xsd:decimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Pivot for the settlement period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="perExpiryBarrier" type="SettlementPeriodBarrier" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The trigger rate of the Per Expiry Barrier for the settlement period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="knockoutBarrier" type="SettlementPeriodBarrier" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The trigger rate of the Global Knockout Barrier for the settlement period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="fixingDates" type="SettlementPeriodFixingDates" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Actual fixing dates within the fixing period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="numberOfFixings" type="xsd:integer" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Number of fixings between the fixing start and end date.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SettlementPeriodBarrier">
    <xsd:sequence>
      <xsd:element name="barrierReference" type="FxBarrierReference" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Leverage expressed as ratio.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="triggerRate" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Barrier trigger rate.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SettlementPeriodSchedule">
    <xsd:sequence>
      <xsd:element name="settlementPeriod" type="SettlementPeriod" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Defines each settlement period in the tabular/matrix representation of the product.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SettlementPeriodFixingDates">
    <xsd:sequence>
      <xsd:element name="fixingDate" type="xsd:date" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Observation date in a fixing period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SettlementPeriodLeverage">
    <xsd:choice>
      <xsd:element name="ratio" type="xsd:decimal">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Leverage expressed as ratio.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:sequence>
        <xsd:element name="notionalAmount" type="xsd:decimal">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Leverage notional.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="counterCurrencyAmount" type="xsd:decimal" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Leverage counter currency notional.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="SettlementPeriodPayoff">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Payoff region</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="regionReference" type="FxTargetVanillaPayoffRegionReference" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Optional reference to the Payoff Region in the parametric representation of the product.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="strike" type="xsd:decimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Strike for the settlement period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="counterCurrencyAmount" type="xsd:decimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Counter Currency Amount for the settlement period. Multiple Counter Currency Amount elements may appear if there are more than one strike in the settlement period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="leverage" type="SettlementPeriodLeverage" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Leverage within the period expressed as either an amount or ratio.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!--
================
    elements    
================
-->
  <xsd:element name="fxTargetForward" type="FxTargetKnockoutForwardStrip" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A structured forward product which consists of a strip of forwards. Each forward may be settled as an exchange of currencies or cash settled. At each settlement, the amount of gain that one party achieves is measured. The product has a target level of gain. Once the accumulated gain exceeds the target level, the product terminates and there are no further settlements.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
<!--
================
    groups    
================
-->
<!--2015-02-26: Agreed to rename the type to "FxTargetConditionLevel.model" from "FxConditionLevel.model"-->
  <xsd:group name="FxTargetConditionLevel.model">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Conditions can be expressed in different ways: as a specific level, as strike, pivot, or barrier.</xsd:documentation>
    </xsd:annotation>
    <xsd:choice>
      <xsd:element name="level" type="FxLevel">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Level expressed as a level with optional steps different from strike, pivot, or barrier.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="strikeReference" type="FxStrikeReference">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Reference to a strike defined within the FX product.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="pivotReference" type="FxPivotReference">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Reference to the pivot defined within the FX product.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="barrierReference" type="FxBarrierReference">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Reference to a perExpiryBarrier component to indicate theat the bound of the region is defined by the barrier component.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="levelReference" type="FxLevelReference">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Reference to a level defined within the FX product.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:group>
  <xsd:group name="FxExchangedCurrency.model">
    <xsd:sequence>
      <xsd:element name="exchangedCurrency1" type="ExchangedCurrency">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Indicates the first direction of who pays and receives a specific currency without specifying the amount.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="exchangedCurrency2" type="ExchangedCurrency">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Indicates the second direction of who pays and receives a specific currency without specifying the amount.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
<!--2015-02-26: Agreed to rename the type to "FxTargetRegionBound.model" from "FxRegionBound.model"-->
  <xsd:group name="FxTargetRegionBound.model">
    <xsd:choice>
<!--2015-02-26: Agreed to rename the type to "FxTargetRegionUpperBound" from "FxRegionUpperBound"-->
      <xsd:element name="upperBound" type="FxTargetRegionUpperBound">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Defines the upper bound of a payoff region.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:sequence>
<!--2015-02-26: Agreed to rename the type to "FxTargetRegionLowerBound" from "FxRegionLowerBound"-->
        <xsd:element name="lowerBound" type="FxTargetRegionLowerBound">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Defines the lower bound of a payoff region.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
<!--2015-02-26: Agreed to rename the type to "FxTargetRegionUpperBound" from "FxRegionUpperBound"-->
        <xsd:element name="upperBound" type="FxTargetRegionUpperBound" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">Defines the upper bound of a payoff region.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:choice>
  </xsd:group>
<!--2015-03-12: FpML FX WG: added bounds from FlexibleFxRegionBound.model directly to FxTargetVannilaPayoffRegion-->
<!--<xsd:group name="FlexibleFxRegionBound.model">
                <xsd:sequence>
                        <!-\-2015-02-26: Agreed to rename the type to "FxTargetRegionLowerBound" from "FxRegionLowerBound"-\->
                        <xsd:element name="lowerBound" type="FxTargetRegionLowerBound" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation xml:lang="en">Defines the lower bound of a payoff region.</xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                        <!-\-2015-02-26: Agreed to rename the type to "FxTargetRegionUpperBound" from "FxRegionUpperBound"-\->
                        <xsd:element name="upperBound" type="FxTargetRegionUpperBound" minOccurs="0">
                                <xsd:annotation>
                                        <xsd:documentation xml:lang="en">Defines the upper bound of a payoff region.</xsd:documentation>
                                </xsd:annotation>
                        </xsd:element>
                </xsd:sequence>
        </xsd:group>-->
  <xsd:group name="ParametricSchedule.model">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The schedule defined by the set of parameters to be able to calculate the schedule of adjusted date. The combination of the [start/endDate + dayType + businessCenters] will be used only to represent a daily schedule and the combination of [start/endDate + observationFrequency + dateAdjustments] for parametric representation of the schedules other than daily schedule.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
<!--2015-02-19:TBD: this is sync with Vol/Var and also allow to specify just end date, e.g. in the monthly schedule -->
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="startDate" type="xsd:date">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Start of the schedule.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="endDate" type="xsd:date" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">End of the schedule.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:element name="endDate" type="xsd:date">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">End of the schedule.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:choice>
<!--2015-02-19:FpML FX WG agreed to this refactoring-->
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="observationFrequency" type="ObservationFrequency">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">It defines the frequency at which calculation period end dates occur within the period schedule and thier roll date convention.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
<!--2015-02-17: Made dateAdjustments - optional-->
          <xsd:element name="dateAdjustments" type="BusinessDayAdjustments" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Date adjustments applied to the schedule including the business day convention and the business centers.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:sequence>
<!--2015-02-17: Renamed from observationDateType to be in sync with Vol/Var-->
<!--2015-01-06: GFXD: agreed that for the parametric form of fixing schedule, the existing FpML mechanism to specify day type is sufficient. 
                                                        FpML: DayTypeEnum: 
                                                                        - Business - typical situation 
                                                                        - Calendar - understood implicitly as a Friday carries over for Saturday and Sunday (Friday observation will be used 3 times)-->
          <xsd:element name="dayType" type="DayTypeEnum" />
          <xsd:group ref="BusinessCentersOrReference.model" minOccurs="0"></xsd:group>
        </xsd:sequence>
      </xsd:choice>
    </xsd:sequence>
  </xsd:group>
  <xsd:group name="StrikeOrStrikeReference.model">
    <xsd:choice>
      <xsd:element name="strike" type="FxStrike">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Strike price of the Target.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="strikeReference" type="FxStrikeReference">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Reference to an existing strike structure within the FX product.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:group>
</xsd:schema>

