App_Data/files-fpml/schemas/fpml5-8/transparency/fpml-fx-5-8.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
        == Copyright (c) 2002-2015 All rights reserved. 
        == Financial Products Markup Language is subject to the FpML public license. 
        == A copy of this license is available at http://www.fpml.org/license/license.html
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns="http://www.fpml.org/FpML-5/transparency" xmlns:fpml-annotation="http://www.fpml.org/annotation" targetNamespace="http://www.fpml.org/FpML-5/transparency" ecore:documentRoot="FpML" ecore:nsPrefix="trnsp" ecore:package="org.fpml.transparency" version="$Revision: 11778 $" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:include schemaLocation="fpml-option-shared-5-8.xsd" />
  <xsd:simpleType name="PointValue">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Constrains the forward point tick/pip factor to 1, 0.1, 0.01, 0.001, etc.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:pattern value="1" />
      <xsd:pattern value="0.0*1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="CrossRate">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type that is used for including the currency exchange rates used to cross between the traded currencies for non-base currency FX contracts.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="QuotedCurrencyPair">
        <xsd:sequence>
          <xsd:element name="rate" type="PositiveDecimal" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The exchange rate used to cross between the traded currencies.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:sequence minOccurs="0">
            <xsd:element name="spotRate" type="PositiveDecimal" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">An optional element used for FX forwards and certain types of FX OTC options. For deals consumated in the FX Forwards Market, this represents the current market rate for a particular currency pair.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="forwardPoints" type="xsd:decimal" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">An optional element used for deals consumated in the FX Forwards market. Forward points represent the interest rate differential between the two currencies traded and are quoted as a preminum or a discount. Forward points are added to, or subtracted from, the spot rate to create the rate of the forward trade.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CutName">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Allows for an expiryDateTime cut to be described by name.</xsd:documentation>
    </xsd:annotation>
    <xsd:simpleContent>
      <xsd:extension base="Scheme">
        <xsd:attribute name="cutNameScheme" type="NonEmptyURI" default="http://www.fpml.org/coding-scheme/cut-name" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
<!--View Generation: SKIPPED DualCurrencyFeature - Unsupported-->
<!--View Generation: SKIPPED DualCurrencyStrikePrice - Unsupported-->
  <xsd:complexType name="ExchangeRate">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type that is used for describing the exchange rate for a particular transaction.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="quotedCurrencyPair" type="QuotedCurrencyPair" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Defines the two currencies for an FX trade and the quotation relationship between the two currencies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="rate" type="PositiveDecimal">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The rate of exchange between the two currencies of the leg of a deal. Must be specified with a quote basis.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:sequence minOccurs="0">
        <xsd:element name="spotRate" type="PositiveDecimal" minOccurs="0">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">An element used for FX forwards and certain types of FX OTC options. For deals consumated in the FX Forwards Market, this represents the current market rate for a particular currency pair. For barrier and digital/binary options, it can be useful to include the spot rate at the time the option was executed to make it easier to know whether the option needs to move "up" or "down" to be triggered.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:sequence minOccurs="0">
          <xsd:element name="forwardPoints" type="xsd:decimal" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">An optional element used for deals consumated in the FX Forwards market. Forward points represent the interest rate differential between the two currencies traded and are quoted as a preminum or a discount. Forward points are added to, or subtracted from, the spot rate to create the rate of the forward trade.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="pointValue" type="PointValue" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">An optional element that documents the size of point (pip) in which a rate was quoted (or in this case, forwardPoints are calculated). Point (pip) size varies by currency pair: major currencies are all traded in points of 0.0001, with the exception of JPY which has a point size of 0.01.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:sequence>
      <xsd:element name="crossRate" type="CrossRate" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">An optional element that allow for definition of the currency exchange rates used to cross between the traded currencies for non-base currency FX contracts.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FxAmericanExercise">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Describes the characteristics for american exercise of FX products.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="FxDigitalAmericanExercise">
<!--View Generation: Skipped an empty sequence.-->
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!--View Generation: SKIPPED FxAsianFeature - NonStandardFeature-->
<!--View Generation: SKIPPED FxAverageRateObservation - Unsupported-->
<!--10-17-2014: TBD: refactor to use Volatility - base class "FxObservationScheduleBase" which includes the below sequence [startDate and endDate] but would also include a choice of just endDate where the start date is a tradeDate-->
<!--View Generation: SKIPPED FxAverageRateObservationSchedule - Unsupported-->
<!--View Generation: SKIPPED FxBarrierFeature - NonStandardFeature-->
<!--View Generation: SKIPPED FxBusinessCenterDateTime - Unsupported-->
  <xsd:complexType name="FxDigitalAmericanExercise">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Descrines the characteristics for American exercise in FX digital options.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Exercise">
        <xsd:sequence>
          <xsd:element name="commencementDate" type="AdjustableOrRelativeDate">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The earliest date on which the option can be exercised.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="expiryDate" type="xsd:date">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The latest date on which the option can be exercised.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
<!--View Generation: SKIPPED expiryTime - Documentation-->
<!--View Generation: SKIPPED cutName - Documentation-->
          <xsd:element name="latestValueDate" type="xsd:date" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The latest date on which both currencies traded will settle.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxDigitalOption">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Describes an option having a triggerable fixed payout.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Option">
        <xsd:sequence>
          <xsd:element name="effectiveDate" type="AdjustableOrRelativeDate" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Effective date for a forward starting derivative. If this element is not present, the effective date is the trade date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="tenorPeriod" type="Period" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">A tenor expressed as a period type and multiplier (e.g. 1D, 1Y, etc.)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:sequence>
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Defines the parameters for option exercise.</xsd:documentation>
            </xsd:annotation>
            <xsd:choice>
              <xsd:sequence>
                <xsd:element name="americanExercise" type="FxDigitalAmericanExercise">
                  <xsd:annotation>
                    <xsd:documentation xml:lang="en">The parameters for defining the exercise period for an American style option.</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="touch" type="FxTouch" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation xml:lang="en">Defines one or more conditions underwhich the option will payout if exercisable.</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
              <xsd:sequence>
                <xsd:element name="europeanExercise" type="FxEuropeanExercise">
                  <xsd:annotation>
                    <xsd:documentation xml:lang="en">The parameters for defining the exercise period for an European style option.</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
                <xsd:element name="trigger" type="FxTrigger" maxOccurs="unbounded">
                  <xsd:annotation>
                    <xsd:documentation xml:lang="en">Defines one or more conditions underwhich the option will payout if exercisable.</xsd:documentation>
                  </xsd:annotation>
                </xsd:element>
              </xsd:sequence>
            </xsd:choice>
<!--View Generation: SKIPPED exerciseProcedure - Documentation-->
          </xsd:sequence>
          <xsd:element name="payout" type="FxOptionPayout">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The amount of currency which becomes payable if and when a trigger event occurs.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="premium" type="FxOptionPremium" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Premium amount or premium installment amount for an option.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!--View Generation: SKIPPED FxDisruption - Unsupported-->
<!--View Generation: SKIPPED FxDisruptionEvent - Unsupported-->
<!--View Generation: SKIPPED FxDisruptionEvents - Unsupported-->
<!--View Generation: SKIPPED FxDisruptionFallback - Unsupported-->
<!--View Generation: SKIPPED FxDisruptionFallbacks - Unsupported-->
<!--View Generation: SKIPPED FxDisruptionProvisions - Unsupported-->
  <xsd:complexType name="FxEuropeanExercise">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Describes the characteristics for European exercise of FX products.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Exercise">
        <xsd:sequence>
          <xsd:element name="expiryDate" type="xsd:date">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Represents a standard expiry date as defined for an FX OTC option.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="expiryTime" type="BusinessCenterTime" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Time at which the option expires on the expiry date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="cutName" type="CutName" minOccurs="0" fpml-annotation:deprecated="true" fpml-annotation:deprecatedReason="Documentation">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The code by which the expiry time is known in the market.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="valueDate" type="xsd:date" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The date on which both currencies traded will settle.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!--View Generation: SKIPPED FxFallbackReferencePrice - Unsupported-->
<!--10-17-2014: Added Volatility - Variance Swap/ Volatility Swap - FxFixingScheduleSimple to simplify the FX fixing for this products-->
<!--View Generation: SKIPPED FxFixingScheduleSimple - Unsupported-->
  <xsd:complexType name="FxFlexibleForward">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Product model for a flexible-term fx forward (also known as callable forward, window forward). This is a term forward transaction over a specific period, allowing the client full flexibility on the timing of the transactional flow(s). The product allows for (full or partial) execution at a predetermined forward rate, at any time between the start date and the expiry date. Although, the product is an outright, it has some option-like characteristics, leading to the use of option components in the model: (i) the BuyerSeller model expresses the roles of the parties in the overall transaction - the client "buys" the product (ii) the PutCallCurrency model expresses the buyer's perspective on the exchanged currencies i.e. the client may buy (call) or sell (put) the notional currency for the alternative currency.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Product">
        <xsd:sequence>
          <xsd:group ref="BuyerSeller.model" />
          <xsd:group ref="PutCallCurrency.model">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">A model defining the currencies exchanged by the parties to an option.</xsd:documentation>
            </xsd:annotation>
          </xsd:group>
          <xsd:sequence>
            <xsd:element name="notionalAmount" type="PositiveMoney" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">The aggregate notional amount which will be exchanged, possibly as multiple partial executions, during the course of the execution period. Any residual notional which remains unexchanged at the expiry date will automatically be executed at the applicable exchange rate (strike).</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="minimumExecutionAmount" type="PositiveMoney" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">The minimum notional amount which must be executed in any single transaction.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="settlementAmount" type="PositiveMoney" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">The total amount of settlement currency that will be paid over the life of the trade if calculable.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
          <xsd:element name="executionPeriodDates" type="FxFlexibleForwardExecutionPeriod" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The period during which the client has the right to execute a transaction, on any business day defined by reference to the specified business centers, subject to the constraints of the minimum execution amount and aggregate total notional amount. * Period dates are inclusive i.e. the expiry date is the final date on which execution may occur.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:sequence minOccurs="0">
            <xsd:element name="earliestExecutionTime" type="BusinessCenterTime" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">The earliest time of day at the specified business center, at which the client may execute a transaction.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="latestExecutionTime" type="BusinessCenterTime" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">The latest time of day at the specified business center, at which the client may execute a transaction.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
          <xsd:element name="settlementDateOffset" type="RelativeDateOffset" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The date on which delivery of the transacted currency amounts will occur, expressed as an offset from the execution date. * This property is optional in the schema, allowing it to be omitted by systems which do not support it; however this information would be expected in contractual documentation (e.g. termsheet, confirmation).</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="finalSettlementDate" type="xsd:date" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The final date for settlement. This is the date on which any residual exchange amount will be delivered. * This is an adjusted date i.e. a good business day for delivery in the location(s) specified in executionPeriodDates /businessCenters</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="forwardRate" type="FxFlexibleForwardRate" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Definition of the forward exchange rate for transactions executed during the execution period.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="additionalPayment" type="Payment" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Fee paid by the client at inception (analagous to an option premium).</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxFlexibleForwardExecutionPeriod">
    <xsd:sequence>
      <xsd:element name="startDate" type="xsd:date" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Start date of the execution period/window.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="expiryDate" type="xsd:date" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Expiry (maturity) date of the execution period.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="businessCenters" type="BusinessCenters" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Business centers for determination of execution period business days.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id" type="xsd:ID" use="required" />
  </xsd:complexType>
  <xsd:complexType name="FxFlexibleForwardRate">
    <xsd:complexContent>
      <xsd:extension base="QuotedCurrencyPair">
        <xsd:sequence>
          <xsd:element name="rate" type="PositiveDecimal" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Constant rate value, applicable for the duration of the execution period.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="spotRate" type="PositiveDecimal" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The spot exchange rate for the specified currency pair as per the specified quote basis, as at the trade date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!--10-17-2014: Added Volatility - FVA-->
  <xsd:complexType name="FxForwardVolatilityAgreement">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Describes a contract on future levels of implied volatility. The main characteristic of these products is that the underlying asset is not a currency pair (or other asset), but the realized volatility (or variance) of this currency during the life of the trade.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Product">
        <xsd:sequence>
<!--               The parameters of the FVA               -->
          <xsd:group ref="BuyerSeller.model" />
<!--mandatory field. buyer/seller of the FVA-->
          <xsd:element name="quotedCurrencyPair" type="QuotedCurrencyPair" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Currency Pair.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="fixingDate" type="xsd:date">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The date on which the fx spot rate is compared against the strike rate, in order to determine the delivery currency. This is the expiry date of a put option on the Deposit/Alternate currency couple. Also known as "valuation date" or "reference date".</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
<!--View Generation: SKIPPED fixingTime - Documentation-->
          <xsd:element name="forwardVolatilityStrikePrice" type="PositiveDecimal">
<!--mandatory, positive decimal-->
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Forward Volatility Rate.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
<!--                 The details of the straddle              -->
<!--10-09-2014: FpMLFXWG: Renamed from underlyingStraddle to straddle-->
          <xsd:element name="straddle" type="FxStraddle">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Details of the straddle.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
<!--Does it need to be "ClassifiedPayment" type? Does it need to be "unbounded"-->
          <xsd:element name="additionalPayment" type="Payment" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Additional Payment means, in respect of an FX Transaction, where such fee is required, and a Transaction Fee Payment Date, the amount, if any, that is specified or otherwise determined as provided in the related Confirmation and, subject to any applicable condition precedent, is payable by one party to the other as further specified or otherwise determined as provided in the related Confirmation on the Transaction Fee Payment Date or on each Transaction Fee Payment Date if more than one is specified, for value on such date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!--View Generation: SKIPPED FxMultipleExercise - Unsupported-->
  <xsd:complexType name="FxOption">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Describes an FX option with optional asian and barrier features.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Option">
        <xsd:sequence>
          <xsd:element name="effectiveDate" type="AdjustableOrRelativeDate" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Effective date for a forward starting derivative. If this element is not present, the effective date is the trade date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="tenorPeriod" type="Period" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">A tenor expressed as a period type and multiplier (e.g. 1D, 1Y, etc.)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:sequence>
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Defines the parameters for option exercise.</xsd:documentation>
            </xsd:annotation>
            <xsd:choice minOccurs="0">
              <xsd:element name="americanExercise" type="FxAmericanExercise">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">The parameters for defining the exercise period for an American style option.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="europeanExercise" type="FxEuropeanExercise">
                <xsd:annotation>
                  <xsd:documentation xml:lang="en">The parameters for defining the exercise period for an European style option.</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
            </xsd:choice>
<!--View Generation: SKIPPED exerciseProcedure - Documentation-->
          </xsd:sequence>
          <xsd:sequence>
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Defines the underlying FX transaction.</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="putCurrencyAmount" type="NonNegativeMoney">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">The currency amount that the option gives the right to sell.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="callCurrencyAmount" type="NonNegativeMoney">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">The currency amount that the option gives the right to buy.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
          <xsd:element name="soldAs" type="PutCallEnum" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Indicates how the product was original sold as a Put or a Call.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:sequence>
            <xsd:element name="strike" type="FxStrikePrice">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">Defines the option strike price.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="spotRate" type="PositiveDecimal" minOccurs="0">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">An optional element used for FX forwards and certain types of FX OTC options. For deals consumated in the FX Forwards Market, this represents the current market rate for a particular currency pair. For barrier and digital/binary options, it can be useful to include the spot rate at the time the option was executed to make it easier to know whether the option needs to move "up" or "down" to be triggered.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
<!--View Generation: SKIPPED features - NonStandardFeature-->
          <xsd:element name="premium" type="FxOptionPremium">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Premium amount or premium installment amount for an option.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="cashSettlement" type="FxCashSettlement" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Specifies the currency and fixing details for cash settlement. This optional element is produced only where it has been specified at execution time that the option wlll be settled into a single cash payment - for example, in the case of a non-deliverable option (although note that an Fx option may be contractually cash settled, without necessarily being non-deliverable).</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!--View Generation: SKIPPED FxOptionFeatures - NonStandardFeature-->
  <xsd:complexType name="FxOptionPayout">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type that contains full details of a predefined fixed payout which may occur (or not) in a Barrier Option or Digital Option when a trigger event occurs (or not).</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NonNegativeMoney">
        <xsd:sequence>
          <xsd:element name="payoutStyle" type="PayoutEnum" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The trigger event and payout may be asynchonous. A payout may become due on the trigger event, or the payout may (by agreeement at initiation) be deferred (for example) to the maturity date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
<!--View Generation: SKIPPED settlementInformation - Unsupported-->
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxOptionPremium">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type that specifies the premium exchanged for a single option trade or option strategy.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NonNegativePayment">
        <xsd:sequence>
<!--View Generation: SKIPPED settlementInformation - Documentation-->
          <xsd:element name="quote" type="PremiumQuote" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">This is the option premium as quoted. It is expected to be consistent with the premiumAmount and is for information only.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!--10-17-2014: Added Volatility Variance Swap/Volatility Swap-->
  <xsd:complexType name="FxPerformanceFixedLeg">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">FX Performance Fixed Leg describes Fixed FX Rate Payer and Fixed Rate.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="FxPerformanceLeg">
        <xsd:sequence>
          <xsd:element name="fixedRate" type="PositiveDecimal">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Fixed Rate means a rate, expressed as a decimal, equal to the per annum rate specified as such in the Confirmation for the Non-Deliverable Swap FX Transaction or that party (i.e., a per annum rate of 15.10% as specified in a Confirmation shall be expressed as 0.1510 for calculation purposes).</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!--10-17-2014: Added Volatility Variance Swap/Volatility Swap-->
<!--View Generation: SKIPPED FxPerformanceFloatingLeg - Unsupported-->
<!--10-17-2014: Added Volatility Variance Swap/Volatility Swap-->
  <xsd:complexType name="FxPerformanceLeg" abstract="true">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Floating FX Rate describes Fixed FX Rate Payer and Fixed Rate</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
<!--Payer required Receiver is optional -->
      <xsd:group ref="Payer.model">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A pointer style reference to a servicingParty or accountBeneficiary identifier defined elsewhere in the document. Floating FX Rate Payer means in respect of an Non-Deliverable Swap FX Transaction, the party specified as such in the related Confirmation.</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
      <xsd:group ref="Receiver.model" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A pointer style reference to a servicingParty or accountBeneficiary identifier defined elsewhere in the document. Floating FX Rate Receiver means in respect of an Non-Deliverable Swap FX Transaction, the party specified as such in the related Confirmation.</xsd:documentation>
        </xsd:annotation>
      </xsd:group>
    </xsd:sequence>
  </xsd:complexType>
<!--10-17-2014: Added Volatility Variance Swap/Volatility Swap-->
  <xsd:complexType name="FxPerformanceSwap">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Describes an FX volatility and variance swap.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Product">
        <xsd:sequence>
<!--Oct-02-2014 FpMLWG: Moved quotedCurrencyPair to the top-->
          <xsd:element name="quotedCurrencyPair" type="QuotedCurrencyPair">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Currency Pair means, (a) in respect of a Deliverable FX Transaction, the currencies specified as being deliverable for a Transaction in the related Confirmation, (b) in respect of a Non-Deliverable FX Transaction, the Reference Currency and the Settlement Currency.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="vegaNotional" type="NonNegativeMoney">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Vega Notional Amount means the currency and amount specified as such in the related Confirmation or, in the case of Transaction Type Variance Swap, may be calculated in accordance with the following: Vega Notional Amount = Notional Amount x 0.02 x Fixed FX Rate.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="notional" type="NonNegativeMoney" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Notional Amount means, in the case of Transaction Type Variance Swap, the currency and amount specified as such in the related Confirmation or an amount calculated in accordance with the following: Notional Amount = Vega Notional Amount / (0.02 x Fixed FX Rate). This element is mandatory in case of Variance Swap transaction.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
<!--Oct-02-2014 FpMLWG: renamed fixedFxRate to fixedLeg-->
          <xsd:element name="fixedLeg" type="FxPerformanceFixedLeg">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Fixed FX Rate component describes the Fixed FX Rate and Fixed FX Rate Payer as such in the Confirmation for the Non-Deliverable Swap FX Transaction.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
<!--Oct-02-2014 FpMLWG: renamed floatingFxRate to floatingLeg-->
<!--is this required in the reg reporting?-->
<!--View Generation: SKIPPED floatingLeg - Unsupported-->
<!--2015-02-17:Renamed from "spotRateSource" to be in sync with Accruals/Targets-->
<!--View Generation: SKIPPED fixingInformationSource - Unsupported-->
<!--View Generation: SKIPPED fixingSchedule - Unsupported-->
          <xsd:choice minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Valuation Date is the rate calculation date. Unless otherwise specified in the related Confirmation, the Valuation Date will be, in respect of a Non-Deliverable Swap FX Transaction, the Final Observation Date. The valuation date can be: [date] [Final Observation Date][The first Business Day following the Final Observation Date].</xsd:documentation>
            </xsd:annotation>
            <xsd:element name="valuationDate" type="xsd:date">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">Rate calculation date.</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="valuationDateOffset" type="FxValuationDateOffset">
              <xsd:annotation>
                <xsd:documentation xml:lang="en">Valuation date offset always relative to the Final Observation Date and can be: [Final Observation Date][The first Business Day following the Final Observation Date]</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
          </xsd:choice>
<!--View Generation: SKIPPED settlementDate - Unsupported-->
<!--Confirm with the group: use FxCashSettlement type and create Business rules or recreate a new type to make fixing and settlementDate - required -->
          <xsd:element name="annualizationFactor" type="xsd:decimal">
            <xsd:annotation>
              <xsd:documentation>This specifies the numerator of an annualization factor. Frequently this number is equal to the number of observations of prices in a year e.g. 252.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="meanAdjustment" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>Specifies whether "Mean Adjustment" is applicable or not in calculation of the Realized Volatility.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
<!--View Generation: SKIPPED numberOfReturns - Unsupported-->
<!--Does it need to be "ClassifiedPayment" type? Does it need to be "unbounded"-->
          <xsd:element name="additionalPayment" type="Payment" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Additional Payment means, in respect of an FX Transaction, where such fee is required, and a Transaction Fee Payment Date, the amount, if any, that is specified or otherwise determined as provided in the related Confirmation and, subject to any applicable condition precedent, is payable by one party to the other as further specified or otherwise determined as provided in the related Confirmation on the Transaction Fee Payment Date or on each Transaction Fee Payment Date if more than one is specified, for value on such date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
<!--2015-02-19:TBD moved cashSettlement to the bottom of the product to sync with other FX product. Added comments-->
<!--View Generation: SKIPPED cashSettlement - Unsupported-->
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxSingleLeg">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type defining either a spot or forward FX transactions.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Product">
        <xsd:sequence>
          <xsd:group ref="FxCoreDetails.model" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!--10-17-2014: Added Volatility - FVA - FxStraddle - based on FxOption-->
  <xsd:complexType name="FxStraddle">
    <xsd:sequence>
      <xsd:element name="straddleType" type="FxStraddleTypeEnum">
        <xsd:annotation>
          <xsd:documentation>Forward Volatility Agreement Straddle Type, e.g. at the money forward straddle, or delta neutral straddle.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tenorPeriod" type="Period" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A tenor expressed as a period type and multiplier (e.g. 1D, 1Y, etc.)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:sequence>
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Defines the parameters for straddle exercise.</xsd:documentation>
        </xsd:annotation>
        <xsd:element name="europeanExercise" type="FxEuropeanExercise">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The parameters for defining the exercise period for an European style option.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
<!--View Generation: SKIPPED exerciseProcedure - Documentation-->
      </xsd:sequence>
      <xsd:sequence>
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Defines the underlying FX transaction.</xsd:documentation>
        </xsd:annotation>
        <xsd:element name="notional" type="NonNegativeMoney">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The currency amount that the option gives the right to sell.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="counterCurrency" type="Currency">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">An opposing currency. The Counter Currency Amount is converted at the Strike Price.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
      <xsd:element name="premium" type="FxStraddlePremium" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Premium amount or premium installment amount for an option.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
<!--View Generation: SKIPPED settlementDate - Documentation-->
      <xsd:element name="cashSettlement" type="FxCashSettlementSimple" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Specifies the currency and fixing details for cash settlement.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!--10-17-2014: added Volatility - FVA - FxStraddlePremium - based on FxOptionPremium-->
  <xsd:complexType name="FxStraddlePremium">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type specifies the straddle premium. The straddle premium is calculated on the Fixing Date using the Forward Volatility Agreement parameters.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="PaymentBaseExtended">
        <xsd:sequence>
          <xsd:element name="paymentCurrency" type="IdentifiedCurrency" minOccurs="0" />
<!--View Generation: SKIPPED settlementInformation - Documentation-->
<!--10-09-2014:FpMLFXWG:Removed quote - is not needed in the FVA product-->
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxStrikePrice">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type that describes the rate of exchange at which the option has been struck.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="rate" type="PositiveDecimal">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The rate of exchange between the two currencies of the leg of a deal.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="strikeQuoteBasis" type="StrikeQuoteBasisEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The method by which the strike rate is quoted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FxSwap">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type defining either a spot/forward or forward/forward FX swap transaction.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Product">
        <xsd:sequence>
          <xsd:element name="nearLeg" type="FxSwapLeg">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The FX transaction with the earliest value date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="farLeg" type="FxSwapLeg">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The FX transaction with the latest value date.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxSwapLeg">
    <xsd:complexContent>
      <xsd:extension base="Leg">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A type defining the details for one of the transactions in an FX swap.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="tradeIdentifierReference" type="PartyTradeIdentifierReference" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">A reference to a party trade ID. This is provided in case the message creator wishes to record that the swap leg is assocatiated with a particular trade identifier; typically this is used for identifying a USI assocatied wih the leg.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:group ref="FxCoreDetails.model" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!--View Generation: SKIPPED FxTemplateTerms - Unsupported-->
  <xsd:complexType name="FxTouch">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Describes an american or discrete touch or no-touch trigger applied to an FX binary or digital option.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
<!--View Generation: SKIPPED touchCondition - Unsupported-->
<!--View Generation: SKIPPED direction - Unsupported-->
      <xsd:element name="quotedCurrencyPair" type="QuotedCurrencyPair" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Defines the two currencies for an FX trade and the quotation relationship between the two currencies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
<!--View Generation: SKIPPED triggerRate - Unsupported-->
<!--View Generation: SKIPPED spotRate - Unsupported-->
<!--View Generation: SKIPPED informationSource - Unsupported-->
<!--View Generation: Skipped an empty choice.-->
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FxTrigger">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Describes a european trigger applied to an FX digtal option.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="FxTriggerBase">
<!--View Generation: Skipped an empty sequence.-->
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FxTriggerBase">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Describes a european trigger applied to an FX digtal option.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
<!--View Generation: SKIPPED triggerCondition - Unsupported-->
      <xsd:element name="quotedCurrencyPair" type="QuotedCurrencyPair" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Defines the two currencies for an FX trade and the quotation relationship between the two currencies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
<!--View Generation: SKIPPED triggerRate - Unsupported-->
<!--View Generation: SKIPPED spotRate - Unsupported-->
    </xsd:sequence>
  </xsd:complexType>
<!--10-17-2014: Added Volatility - Varinace Swap/ Volatility Swap - FxValuationDateOffset. The name might need to be revisited if could be globaly used-->
  <xsd:complexType name="FxValuationDateOffset">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Valuation date offset is used in FX Variance Swap and Volatility Swap to always relate the Final Observation Date and can be: [Final Observation Date][The first Business Day following the Final Observation Date]</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="Offset">
<!--View Generation: Skipped an empty sequence.-->
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
<!--View Generation: SKIPPED NonDeliverableSubstitute - Unsupported-->
<!--View Generation: SKIPPED Postponement - Unsupported-->
  <xsd:complexType name="PremiumQuote">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type that describes the option premium as quoted.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="value" type="xsd:decimal" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The value of the premium quote. In general this will be either a percentage or an explicit amount.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="quoteBasis" type="PremiumQuoteBasisEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The method by which the option premium was quoted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
<!--View Generation: SKIPPED PriceMateriality - Unsupported-->
<!--View Generation: SKIPPED TermDeposit - Unsupported-->
<!--View Generation: SKIPPED TermDepositFeatures - Unsupported-->
<!--FX products-->
  <xsd:element name="fxDigitalOption" type="FxDigitalOption" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An FX digital option transaction definition.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="fxFlexibleForward" type="FxFlexibleForward" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A flexible term fx forward product definition.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
<!--10-17-2014: Added Volatility - FVA-->
  <xsd:element name="fxForwardVolatilityAgreement" type="FxForwardVolatilityAgreement" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An FX Forward Volatility Agreement transaction definition.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="fxSingleLeg" type="FxSingleLeg" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A simple FX spot or forward transaction definition.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="fxSwap" type="FxSwap" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An FX Swap transaction definition.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="fxOption" type="FxOption" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An FX option transaction definition.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
<!--10-17-2014: Added Volatility - Variance Swap-->
  <xsd:element name="fxVarianceSwap" type="FxPerformanceSwap" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An FX variance swap transaction definition.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
<!--10-17-2014: Added Volatility - Volatility Swap-->
  <xsd:element name="fxVolatilitySwap" type="FxPerformanceSwap" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An FX volatility swap transaction definition.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
<!--View Generation: SKIPPED termDeposit - Unsupported-->
<!--Fx Disruption Events and Fallbacks-->
<!--View Generation: SKIPPED calculationAgentDetermination - Unsupported-->
<!--View Generation: SKIPPED dualExchangeRate - Unsupported-->
<!--View Generation: SKIPPED exchangeRestrictions - Unsupported-->
<!--View Generation: SKIPPED fallbackReferencePrice - Unsupported-->
<!--View Generation: SKIPPED fxDisruptionEvent - Unsupported-->
<!--View Generation: SKIPPED fxDisruptionFallback - Unsupported-->
<!--View Generation: SKIPPED noFaultTermination - Unsupported-->
<!--View Generation: SKIPPED nonDeliverableSubstitute - Unsupported-->
<!--View Generation: SKIPPED priceSourceDisruption - Unsupported-->
<!--View Generation: SKIPPED priceMateriality - Unsupported-->
<!--View Generation: SKIPPED settlementPostponement - Unsupported-->
<!--View Generation: SKIPPED valuationPostponement - Unsupported-->
  <xsd:group name="FxCoreDetails.model">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">The elements common to FX spot, forward and swap legs.</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="exchangedCurrency1" type="Payment">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This is the first of the two currency flows that define a single leg of a standard foreign exchange transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="exchangedCurrency2" type="Payment">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">This is the second of the two currency flows that define a single leg of a standard foreign exchange transaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="dealtCurrency" type="DealtCurrencyEnum" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Indicates which currency was dealt.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:group ref="FxTenor.model" minOccurs="0"></xsd:group>
      <xsd:choice>
        <xsd:element name="valueDate" type="xsd:date">
          <xsd:annotation>
            <xsd:documentation xml:lang="en">The date on which both currencies traded will settle.</xsd:documentation>
          </xsd:annotation>
        </xsd:element>
        <xsd:sequence>
          <xsd:element name="currency1ValueDate" type="xsd:date">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The date on which the currency1 amount will be settled. To be used in a split value date scenario.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="currency2ValueDate" type="xsd:date">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">The date on which the currency2 amount will be settled. To be used in a split value date scenario.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:choice>
      <xsd:element name="exchangeRate" type="ExchangeRate" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The rate of exchange between the two currencies.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="nonDeliverableSettlement" type="FxCashSettlement" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">Used to describe a particular type of FX forward transaction that is settled in a single currency (for example, a non-deliverable forward).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
<!--View Generation: SKIPPED disruption - Unsupported-->
    </xsd:sequence>
  </xsd:group>
<!--View Generation: SKIPPED FxRateObservation.model - Unsupported-->
  <xsd:group name="FxTenor.model">
    <xsd:choice>
      <xsd:element name="tenorName" type="FxTenorPeriodEnum">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A tenor expressed with a standard business term (i.e. Spot, TomorrowNext, etc.)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="tenorPeriod" type="Period">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">A tenor expressed as a period type and multiplier (e.g. 1D, 1Y, etc.)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:choice>
  </xsd:group>
<!--View Generation: SKIPPED PrioritizedRateSource.model - Unsupported-->
  <xsd:group name="PutCallCurrency.model">
    <xsd:sequence>
      <xsd:element name="putCurrency" type="Currency" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The currency which: - the option buyer will pay (sell) - the option writer will receive (buy)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="callCurrency" type="Currency" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">The currency which: - the option buyer will receive (buy) - the option writer will pay (sell)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
</xsd:schema>

